@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-purple: #34234d;
    --light-purple: #3b2a50;
    --purple-accent: #70449f;
    --message-color: #f4f4f4;
    --background-color: #fdfdfd;
    --light-color: #e6e9ff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-purple);
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #e5e5e5;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--light-purple);
    font-weight: 600;
}

.btn {
    cursor: pointer;
    padding: 0.6rem;
    background: var(--light-color);
    color: var(--light-purple);
    border: 0;
    font-size: 1rem;
    border-radius: 0.4rem;
}

/* Join Chat Page */
.container {
    margin: 2rem;
    min-height: calc(var(--height) - 161px - 65px);
}

.index-header {
    padding: 2rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;
    color: var(--purple-accent);
}

.card {
    max-width: 400px;
    background-color: var(--light-purple);
    color: var(--background-color);
    padding: 1rem;
    margin: auto;
    border-radius: 0.8rem;
    box-shadow: 3px 3px 7px #666;
}

.card .card-title {
    text-align: center;
    margin: 1rem;
}

.card .form-group {
    margin: 1rem 0rem;
}

.card .form-group label {
    display: inline-block;
    margin-bottom: 0.4rem;
}

.card .form-group input {
    border: 1px solid var(--light-purple);
    border-radius: 0.4rem;
    font-size: 1rem;
    width: 100%;
    outline: none;
    padding: 0.5rem;
    background-color: var(--message-color);
}

.card .card-body {
    padding: 0.5rem;
}

.card .card-body .btn {
    display: inline-block;
    margin: 1rem auto;
    font-weight: 600;
    width: 100%;
}

footer {
    font-weight: 600;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.6rem;
}

footer a {
    text-decoration: underline;
    color: var(--purple-accent);
}

/* Chat Page */
#toggle-info {
    display: none;
    background: var(--dark-purple);
    border: none;
    outline: none;
    cursor: pointer;
}

.icon-btn {
    height: 42px;
    background: var(--message-color);
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-btn:hover {
    background-color: #ccc;
}

.icon-btn:focus {
    background-color: var(--message-color);
}

.icon-btn:disabled {
    opacity: 0.5;
}

.chat-header {
    background: var(--dark-purple);
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Chat container */
.chat-container {
    background: #fff;
    display: flex;
}

/* Chat Sidebar */
.chat-sidebar {
    background: var(--light-purple);
    color: #fff;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-sidebar h2 {
    font-size: 20px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
    border-left: 3px solid var(--background-color);
}

.chat-sidebar h3 {
    margin-bottom: 15px;
    font-size: 1.1rem;
}

.chat-sidebar #user-count {
    background: rgba(0, 0, 0, 0.1);
    padding: 2px 7px;
    color: var(--message-color);
    border-radius: 0.4rem;
}

.chat-sidebar ul li {
    padding: 10px 13px;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
    border-radius: 0.4rem;
}

.chat-sidebar .btn {
    font-size: 1.1rem;
    text-align: center;
    display: inline-block;
    margin: 0.1rem auto;
    font-weight: 600;
    width: 60%;
    padding: 0.4rem;
}

/* Main chat window */

.info {
    display: none;
    background: var(--message-color);
    color: var(--dark-purple);
    padding: 0.2rem;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    font-size: 0.8rem;
    box-shadow: 2px 0px 4px #888;
    z-index: 1;
}

.chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: calc(var(--height) - 70px);
}

.chat-messages {
    padding: 0.8rem;
    overflow-y: scroll;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chat-messages .admin-message {
    padding: 6px;
    margin-bottom: 15px;
    font-size: 0.8rem;
    background-color: var(--message-color);
    border-radius: 5px;
    color: var(--light-purple);
    text-align: center;
    font-weight: 700;
}

.chat-messages .message {
    padding: 10px;
    word-wrap: break-word;
    margin-bottom: 0.9rem;
    background-color: var(--message-color);
    border-radius: 0rem 0.8rem 0rem 0.8rem;
    width: 55%;
}

.chat-messages .align-right {
    align-self: flex-end;
    background-color: #614486;
    color: var(--message-color);
    border-radius: 0.8rem 0rem 0.8rem 0rem;
}

.chat-messages .message .meta {
    font-size: 1rem;
    font-weight: 800;
    color: var(--purple-accent);
    margin-bottom: 7px;
}

.chat-messages .align-right .meta {
    color: var(--background-color);
}

.chat-messages .message .meta span {
    color: #555;
    margin-left: 0.4rem;
    font-size: 0.8rem;
    font-weight: normal;
}

.chat-messages .align-right .meta span {
    color: var(--message-color);
}

.chat-messages .message a {
    text-decoration: underline;
}

.chat-messages .align-right a {
    color: var(--message-color);
}

hr {
    height: 3px;
    border: none;
    background-color: var(--message-color);
}

.chat-form-container {
    padding: 0.7rem;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-evenly;
}

.chat-form-container form {
    flex: 1;
    display: flex;
}

.chat-form-container input {
    border: none;
    border-radius: 2.2rem;
    font-size: 1rem;
    outline: none;
    padding: 0.6rem 0.9rem;
    margin: 0rem 0.3rem;
    flex: 1;
    background-color: var(--message-color);
}

@media (max-width: 700px) {
    .chat-sidebar {
        position: absolute;
        left: 0;
        height: calc(var(--height) - 70px);
        width: 100%;
        transform: translateX(-100%);
        transition: transform 0.6s ease-in-out;
    }

    #toggle-info {
        display: block;
    }

    .chat-messages .message {
        width: 70%;
    }
}

.active {
    transform: translateX(0%);
}
